
.hello{
	background: linear-gradient(35deg,#030303,#3d3d4e);
	color: white;
	width: 400px;
	margin-top: 200px;
	border-radius: 15px;
	box-shadow: 0px 12px 16px -8px rgba(3,3,3,0.25), 0 -8px 12px 12px rgba(61,61,78,0.3);
}
.top input{
	width: 80px;
	height: 30px;
	background: none;
	border: none;
	color: white;
	font-family: 'Roboto', sans-serif;
}
.tame{
	margin-top: 36px;
	margin-right: 30px;
	font-weight: 600;
}
.img2{
	width: 25px;
	height: 25px;
}
.hum,.sun{
margin-top: 7px;
}
.info{
	display: flex;
	margin-top: 20px;
}
.title{
	justify-content: space-between;
	display: flex;
}
.img{
	justify-content: center;
	margin-top: 40px;
	margin-left: 130px;
	height: 125px;

}
.image label{
	width: 340px;
	padding:0 170px;
}
.temp span{
	
	margin-top: 200px;
	
	text-align: right;
	font-size: 80px;
}
.lab{
	margin-left: 23px;
	position: relative;

}
.info2{
	margin-top: 33px;
	margin-left: 25px;
	margin-bottom: 10px;
}
.dat{
	margin-top: 36px;
}
.top{
	margin-top: 25px;
	margin-left: 25px;
	border: 1px solid #595a60;
	width: 87px;
	border-radius: 5px;
}
@media only screen and (max-width:420px){
	.hello{
		transform: scale(0.5,0.5);
	}
}
